<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/check.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03.10 - 13.10</h4>
                                    <h4 class="subheading">Milestone 0 - Team formation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">During this first two weeks, we developed the "Roadbook Recorder" startup idea. We also enlarged and organized our team.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/check.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>13.10 - 17.10</h4>
                                    <h4 class="subheading">Milestone 1 - Initial Fiki</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For the second project milestone, we created an initial version of our fiki.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/check.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>17.10 - 31.10</h4>
                                    <h4 class="subheading">Milestone 2 - Customer Discovery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We went through the customer discovery process: We identified our potential customer, we gathered contact information, we created a plan to reach potential customers and gather information in order to validate our startup idea.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/check.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>31.10 - 7.11</h4>
                                    <h4 class="subheading">Milestone 3 - Landing page</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We created an initial version of our wireframe and landing page.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/check.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7.11 - 14.11</h4>
                                    <h4 class="subheading">Milestone 4 - User persona, User stories, User interviews</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We created a user persona and we designed some use cases for our application. We also approached a few of our potential customers. So far, we managed to perform 2 phone interviews.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
